/* @import "fonts.css";
@import "header.css";
@import "meta.css";
@import "newsArea.css";
@import "footer.css";
@import 'category_page.css';
@import'Wiget.css';
@import'contact.css';
@import "about.css";
@import "blog.css"; */
@import url(./assets/css/header.css);
@import url(./assets/css/newsArea.css);
@import url(./assets/css/fonts.css);
@import url(./assets/css/meta.css);
@import url(./assets/css/about.css);
@import url(/assets/css/blog.css);
@import url(/assets/css/blog_single.css);
@import url(/assets/css/category_page.css);
@import url(/assets/css/contact.css);
@import url(/assets/css/Wiget.css);
@import url(/assets/css/resp.css);
@import url(/assets/css/footer.css);
#main{
width: 100%;
height: auto;
overflow: hidden;
background-color: rgb(249, 249, 249);
/* background-color: blue; */
}
.main{
    width: 100%;
    max-width: 1130px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.middleArea {
    width: 1130px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.MiddleHr{
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin: 0;
}
.dark{
    background-color: #000!important;
}