@import "blog_single.css";
#blog_page{
    width: 100%;
    max-width: 1130px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.blog_page_Content{
    width: 650px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 50px;

}

.blog_page_Content h1{
    margin-top: 65px;
    padding-bottom: 27px;
    display: block;

}
.blog_page_Carousell{
    max-width: 100%;
    width:650px;
    height: 555px;
    list-style: none;
    position: relative;
    padding: 0!important;
}

.blog_page_Carousell .blog_page_Carousell_content{
position: absolute;
max-width: 100%;
width: 650px;
height: 555px;

}
.blog_page_Carousell .blog_page_Carousell_content > a{
    position: relative;
    width: 100%;
 height: auto;
}
.blog_page_Carousell .blog_page_Carousell_content a img {
    height: 405px;
    max-width: 100%;

    width: 650px;
}
.blog_page_Carousell_content_Article {
    position: absolute;
    top: 435px;
    height: 120px;
    width: 650px;
    max-width: 100%;
}
.blog_page_Carousell_content_Article >a p{
    text-decoration: none;
    color: #000;
    font-size: 34px;
    font-family:"Montserrat-Bold" ;
    text-transform: uppercase;
}
.blog_page_Carousell_content_Article >a:hover{
    text-decoration: none;
}
.blog_page_Carousell_content_Article .meta{
    bottom: 0;
}
.box{
    width: 300px;
    height: 300px;
    scroll-behavior: smooth;
    position: relative;
    overflow-y: scroll;
    z-index: 10;

}
.box li{
    width: 200px;
    height: 200px;
    border: 1px solid;
    margin-top: 15px;
}
/***
========================================================================================================
        END CATEGORY CAROUSEL STYLE
========================================================================================================
***/

.blog_page_sub_content {
    list-style: none;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
   
    margin: 0;
    padding: 0;
    height: auto;
}
.blog_page_sub_content >li{
    width: 310px;
    height: 410px;
    margin-top: 50px;
}
article.blog_page_sub_content_article {
    position: relative;
}
.blog_page_sub_content_article p{
    margin-top: 15px;
}
.blog_page_sub_content_article .ArticlePA{
    font-size: 24px;
  color: #000!important;
  text-transform: uppercase;
}
img.blog_page_sub_content_img {
    width: 310px;
    height: 270px;
}
ul.meta.blog_page_sub_content_article_meta {
    bottom: -15px;
}

.pagination{
    margin-top: 100px;
    display: inline-block;
    list-style: none;
}
.pagination li{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #636363;
    padding-top: 15px;
    margin-right: 10px;
    color: #fff;
}
.pagination li:active{
    background-color: #fc4733;
}