
@font-face {
    font-family:"Montserrat-Regular" ;
    src: url("../fonts/monserat/Montserrat-Regular.ttf");
}
@font-face {
    font-family:"Montserrat-Light" ;
    src: url('../fonts/monserat/Montserrat-Light.ttf');
}
@font-face {
    font-family:"Montserrat-ExtraLight" ;
    src: url('../fonts/monserat/Montserrat-ExtraLight.ttf');
}
@font-face {
    font-family:"Montserrat-Medium" ;
    src: url('../fonts/monserat/Montserrat-Medium.ttf');
}
@font-face {
    font-family:"Montserrat-ExtraLightItalic" ;
    src: url('../fonts/monserat/Montserrat-ExtraLightItalic.ttf');
}
@font-face {
    font-family:"Montserrat-Bold" ;
    src: url('../fonts/monserat/Montserrat-Bold.ttf');
}