#footer{
  display: flex;
    height: auto;
    flex-direction: column;
   border-top: 2px solid #ccc;
}
.footerTop{
    max-width: 1125px;
    height: auto;
    margin:0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px!important;
    margin-bottom: 70px!important;
}

.footerTopContents{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    max-width: 100%;
    flex-wrap: wrap;
    width: 1125px;
}
.footerTopContents li{
    width: 300px;
    height: auto;
    /* border: 1px solid; */
}
.footerTopContents li h2 a.navbar-brand{
    margin-left: 0!important;
}
.footerTopText {
    font-size: 16px;
    text-transform: capitalize;
    font-family:"Montserrat-ExtraLight" ;
    margin-top: 25px;
}
.footerTopContentsHead{
    text-transform: uppercase;
    color: #ff0000;
    margin-top: 15px;
    font-family:"Montserrat-Bold" ;
}
.footerCategoryContent{
   
    width: 100%;
    height: auto;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.footerCategoryContent li{
    display: flex;
    width: 120px;
    font-size: 13px;
    font-family:"Montserrat-ExtraLight" ;
    justify-content: space-around;
    padding: 0;
    margin-top: 25px;
}
.footerCategoryContent li a{
   padding: 0;
   margin: 0;
    text-transform: capitalize;
    color: #ccc;
    width: 100%;
}


.tags{

    width: 300px;
    height: auto;
margin-top: 25px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}
.tags li{
    text-align: center;
    background-color: #cdcdcd;
    flex-direction: row;
    border: 1px solid;
    width: 130px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 10px;
}
.tags li a{
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-family: "Montserrat-Medium";
    /* padding: 10px 15px; */
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.footerHr{
    height: 3px;
    background-color: #cdcdcd;
    width: 100%;
}


.footerBottom{
    font-size: 16px;
    font-family:"Montserrat-ExtraLight" ;
    text-align: center;
}