#header{
    overflow: hidden;
}
.HeaderTopSection{
    background-color: #f0f0f0;
    width: 100%;
}
.navbar-brand {
    color: rgba(0, 0, 0, 0.9);
    margin-left: 55px;
}
.logoArea{
    display: inline-block;
    margin: 0;
    font-family:"Montserrat-Regular" ;
    text-transform: uppercase;
    margin-left: 30px;
    padding: 16px 0;
}
.logoArea a{
    text-decoration: none;
    color: #cccccc;
    margin-left: 70px;
}
.socialArea{
    /* display: inline-block; */
    list-style: none;
    margin-top: 10px;
    margin-right: 70px;
    float: right;

}
.socialArea li{
    display: inline-block;
   position: relative;
   
}
.socialArea li a{
    padding-left: 5px;
    padding-right: 5px;
    
}
.socialArea li a.facebook{
    background-color: #0054a6;
    color: #fff;
}
.socialArea li a.facebook{
    background-color: #0054a6;
    color: #fff;
}
.socialArea li a.instagram{
    color:#a58667;
}
.socialArea li a.twitter{
 
    color: #00bff3;
}
.socialArea li a.pinterest{
 background-color:#f06eaa ;
    color: #fff;
    border-radius: 50%;
}
.socialArea li a.google{
  
       color:#50bc5f;
 }
 .FL{
    font-family:"Montserrat-Light" ;
    font-size: 36px;
    text-transform: capitalize;
    color: #002157;
 }
 .SL{
    color: #fc4733; 
    text-transform: capitalize;
    font-size: 36px;

 }
 #headerMiddleSectionNav ul li:active{
background-color: #fc4733;
color: #fff;
 }
 #headerMiddleSectionNav ul li a{
     color: #555555;
     text-transform: uppercase;
     font-family:"Montserrat-Medium" ;
     font-size: 13px;
 }
 .searchForm{
     position: relative;
     margin-right: 35px;
 }
 .searchForm input{
     padding-top: 14px;
     padding-bottom: 14px;
     padding-left: 25px;
     padding-right: 60px;
     border-radius: 0!important;
 }
 .searchForm .btn{
position: absolute;
right: 0;
color: #fc4733;
 }

 .headerBottomSectionNav{
     background-color: #002157!important;
     
 }
 .headerBottomSectionNav ul {
    margin-left: 45px;
 }
 .headerBottomSectionNav ul li {
     border-right:1px solid #1a3868;
   
 }
 .headerBottomSectionNav ul li a{
     color: #fff !important;
     text-transform: uppercase;
     font-family:"Montserrat-Medium" ;
     font-size: 13px;
 }


 /***
==================================================
NAVIGATIONS  END
==================================================
***/