#OtherStoryArea{
width: 430px;
height: auto;
display: flex;
flex-direction: column;
}

.OtherStoryAreaContent{
    width: 285px;
    height: auto;
    position: relative;
    margin-left: 45px;
    margin-top: 60px;
}

.OtherStoryAreaContentCarousels{
    /* position: relative; */
    height: 735px;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-y: auto;
}
.OtherStoryAreaContentCarousels::-webkit-scrollbar{
    display: block;
}
.OtherStoryAreaContentCarouselsArea{
    height: auto;
    width: 295px;
    margin-top: 50px;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.OtherStoryAreaContentCarouselsArea::-webkit-scrollbar{
    display: block;
    scrollbar-color: red;
}
.OtherStoryAreaContentCarouselsContent{
    height: 170px;
    width: 100%;
  margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
}
.OtherStori_img{
    width: 145px; 
    height: 145px;
}
.OtherStori_Article{
    width: 125px;
    height: 170px;
    position: relative;
    /* margin-left: 15px; */
}
.OtherStori_Article p a{
    font-size: 17px;
    color: #000!important;
}
.OtherMeta{
    font-size: 9px;
    display: flex;
    flex-direction: column;
}
.OtherMeta li::after{
    content: none;
}
.OtherCat {
    font-family: "Montserrat-Light";
    font-size: 10px;
    color: #fc4733;
    position: absolute;
    text-transform: capitalize;
    margin-top: 35px;
}
.OtherCat:hover{
    color: #fc4733;
}
/***
===============================================================================================
OTHER STORIS SYLES END
===============================================================================================
***/
