@media screen and (min-device-width: 300px) and (max-device-width: 481px)  { 
  .logoArea{
    margin: auto;
    display: flex;
    text-align: center;
  }
  .logoArea a{
    margin-left: 40px;
}

  .socialArea{
    float: none;
    text-align: center
  }
.headerMiddleSection .navbar .FL{
 margin-left: 30px;

}

.BuisnessNews{
  margin-bottom: 50px
}
.newsAreaRightTop{
  flex-direction: column;
  margin-left: auto
  
}
.PhotographyNewsSlide{
  top: 30px;
  
}

.newsAreaRightTop{
  flex-direction: column;
  margin-top: 25px;
}
.sportNewsSlide{
  margin-bottom: 25px;
}


article.articles.BuisnessNewsArticle{
  left: 0;
}
.p.ArticleP.BuisnessNewsArticleP{
  font-size: 20px;
}
} 

@media (min-width: 576px) { 

        
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

        
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

        
 }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

        
  }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 

        
 }