@media (min-width: 300px)  { 
  .logoArea{
    margin: auto;
    display: flex;
    text-align: center;
  }
  
  .socialArea{
    float: none;
    text-align: center
  }
.headerMiddleSection .navbar .FL{
 margin-left: 30px;

}

.BuisnessNews{
  margin-bottom: 50px
}
.newsAreaRightTop{
  flex-direction: column;
  margin-left: auto
  
}
.PhotographyNewsSlide{
  top: 30px;
  
}
} 

@media (min-width: 576px) { 

        
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

        
 }

//*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

        
 }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

        
  }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 

        
 }