*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:"Montserrat-Regular" ;
    src: url("../fonts/monserat/Montserrat-Regular.ttf");
}
@font-face {
    font-family:"Montserrat-Light" ;
    src: url('../fonts/monserat/Montserrat-Light.ttf');
}
@font-face {
    font-family:"Montserrat-ExtraLight" ;
    src: url('../fonts/monserat/Montserrat-ExtraLight.ttf');
}
@font-face {
    font-family:"Montserrat-Medium" ;
    src: url('../fonts/monserat/Montserrat-Medium.ttf');
}
@font-face {
    font-family:"Montserrat-ExtraLightItalic" ;
    src: url('../fonts/monserat/Montserrat-ExtraLightItalic.ttf');
}
@font-face {
    font-family:"Montserrat-Bold" ;
    src: url('../fonts/monserat/Montserrat-Bold.ttf');
}
#wrapper{
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    height: auto;
}
#main{
    height: auto;
}
.HeaderTopSection{
    background-color: #f0f0f0;
    width: 100%;
}
.logoArea{
    display: inline-block;
    margin: 0;
    font-family:"Montserrat-Regular" ;
    text-transform: uppercase;
    margin-left: 30px;
    padding: 16px 0;
}
.logoArea a{
    text-decoration: none;
    color: #cccccc;
}
.socialArea{
    /* display: inline-block; */
    list-style: none;
    margin-top: 10px;
    margin-right: 30px;
    float: right;
}
.socialArea li{
    display: inline-block;

   position: relative;
   
}
.socialArea li a{
    padding-left: 5px;
    padding-right: 5px;
    
}
.socialArea li a.facebook{
    background-color: #0054a6;
    color: #fff;
}
.socialArea li a.facebook{
    background-color: #0054a6;
    color: #fff;
}
.socialArea li a.instagram{
    color:#a58667;
}
.socialArea li a.twitter{
 
    color: #00bff3;
}
.socialArea li a.pinterest{
 background-color:#f06eaa ;
    color: #fff;
    border-radius: 50%;
}
.socialArea li a.google{
  
       color:#50bc5f;
 }
 .FL{
    font-family:"Montserrat-Light" ;
    font-size: 36px;
    text-transform: capitalize;
    color: #002157;
 }
 .SL{
    color: #fc4733; 
    text-transform: capitalize;
    font-size: 36px;

 }
 #headerMiddleSectionNav ul li:active{
background-color: #fc4733;
color: #fff;
 }
 #headerMiddleSectionNav ul li a{
     color: #555555;
     text-transform: uppercase;
     font-family:"Montserrat-Medium" ;
     font-size: 13px;
 }
 .searchForm{
     position: relative;
 }
 .searchForm input{
     padding-top: 14px;
     padding-bottom: 14px;
     padding-left: 25px;
     padding-right: 60px;
     border-radius: 0!important;
 }
 .searchForm .btn{
position: absolute;
right: 0;
color: #fc4733;
 }

 .headerBottomSectionNav{
     background-color: #002157!important;
     
 }
 .headerBottomSectionNav ul li {
     border-right:1px solid #1a3868
 }
 .headerBottomSectionNav ul li a{
     color: #fff !important;
     text-transform: uppercase;
     font-family:"Montserrat-Medium" ;
     font-size: 13px;
 }

 .TopNewsesContainer{
     height: auto;
     margin-top: 60px;
     padding: 0!important;
 }
 .TopNewsesContainer > .row{
     margin: 0!important;
 }

 .TopNewsesContainerLeft{
     height: 525px;
     position: relative;
     padding: 0!important;
     margin: 0;
 }
.TopNewsesContainerLeftContent{
    position: absolute;
    height: 100%;
    background-color: red;
    width: 100%;
  background-image: url("../images/1.png");
  background-position: center center;
  background-repeat: no-repeat;
 display: none;
 background-size: cover;
}
.active{
    display: block;
   
}


.bgOverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(122, 105, 185, 0.4)
}
.TopNewsesContainerLeftContentArea{
    width: 315px;
    height: 270px;
    position: relative;
    z-index: 2;

    top: 180px;
    left:35px ;
    padding: 0 !important;
}
.TopNewsesContainerLeftContentArea .BtnCat{
    background-color: #00bff3;
    border-radius:0!important;
    color: #fff;
    font-family:"Montserrat-Light" ;
    font-size: 12px;
    margin-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
}
.TopNewsesContainerLeftContentArea .BtnCat:hover{
    color: #fff;

}
.TopNewsesContainerLeftContentArea >p{
    font-size: 30px;
    color: #fff;
    font-family: "Montserrat-Bold";
padding-left: 15px;
    margin-top: 25px;
   
}

.meta{
    display: inline-block;
    padding: 0;
    font-family:"Montserrat-Light" ;
    font-size: 12px;
    margin-left: 25px;
}
.meta li{
    display: inline-block;
    padding-left: 10px;
}
.meta li:first-child{
    padding-left: 0px;
}
.meta li::after{
    content: "|";
    color: #ccc;
    padding-left: 10px;
}
.meta li a{
    font-family:"Montserrat-Light" ;
    font-size: 12px;
    color:#ccc;
    text-transform: capitalize;
}


 .TopNewsesContainerRightArea{
     height: auto;
     padding: 0!important;
 }
.sportNewsArea{
    background-color: #002157;
    height: 245px;
    width: 100%;
    margin-left: 35px;
    position: relative;
    overflow: hidden;
    padding: 0!important;

}


.sportNewsAreaContent{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
}
.sportNewsAreaContent > img{
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
}

ul.sportNewsAreaContentDesc {
    position: absolute;
    z-index: 4;
    color: #fff;
    top: 95px;
    height: 130px;
    width: 185px;
    left: 20px;
    list-style: none;
}

ul.sportNewsAreaContentDesc  li .sportNewsAreaCat{
    font-family:"Montserrat-Light" ;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    background-color: #f5dc38;
    border-radius: 0!important;
}
ul.sportNewsAreaContentDesc  li .sportNewsAreaCat:hover{
    color: #fff;
    text-decoration: none;

}
ul.sportNewsAreaContentDesc  li p{
    margin-top: 10px;
}
ul.sportNewsAreaContentDesc  li p a{
    font-family:"Montserrat-Bold" ;
    font-size: 16px;
    color: #fff;
}

.SportsMeta {
    font-size: 10px;
    position: relative;
    top: 20px;
    margin-left: 0;
    font-family: "Montserrat-Regular";
}

.SportsMeta li:last-child::after{
    content: ' '!important;
}


.photographyNewsArea{
    background-color: #a58667;
    height: 245px;
    margin-left: 47px;
    width: 100%;
    position: relative;
    padding: 0!important;
}

.photographyNewsContent{
    position: absolute;
    height: 100%;
    width: 100%;
}
.photographyNewsContent > img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;

}
.photographyNewsContentDesc{
    position: absolute;
    z-index: 1;
    list-style: none;
    top: 90px;
    left: 35px;
}

.photographyNewsContentDesc li a.photographyNewsCat{
    font-family:"Montserrat-Light" ;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    background-color: #fc4733;
    border-radius: 0!important;
}
.photographyNewsContentDesc li p{
    margin-top: 10px;
        padding: 0!important;
        margin-right: 15px;
    
}
.photographyNewsContentDesc li p a{
font-family:"Montserrat-Bold" ;
font-size: 19px;
color: #fff;
}

.photographyNewsMeta{
    font-size: 10px;
    position: relative;
    top: -10px;
    margin-left: 0;
    font-family: "Montserrat-Regular";
}
.photographyNewsMeta li:last-child::after{
    content: none;
}

.health{
    height: 240px;

    margin-left: 34px;
    margin-top: 40px;
    padding-right: 0!important;
    padding-left: 0!important;

}
.healthContent{
    width: 100%;
    height: 100%;
    background-color: green;
    position: absolute;
}
.healthContent >img{
height: 100%;
position: absolute;
z-index: 0;
width: 100%;
}
.healthContentDesc{
    position: absolute;
    z-index: 1;
    height: 110px;
   
    width: 435px;
  left: 20px;
  top: 130px;
}

.healthContentDesc li a.healthcat{
text-transform: uppercase;
color: #fff;
background-color: #39b54a;
}
.healthContentDesc li p{
    margin: 0!important;
    margin-top: 14px!important;
}
.healthContentDesc li p a{
    font-family:"Montserrat-Bold" ;
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    }
    
    ul.healthMeta {
        margin-left: 0;
        margin-top: 15px
    ;
    }
    .healthMeta li:last-child::after{
content: none!important;
    }

    .leaderBoard{
        border: 2px solid #e9e9e9;
        margin-top: 65px;
        height: auto;
    }
    .leaderBoard >p{
       padding-top: 35px;
    padding-bottom: 35px;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 29px;
    font-family:"Montserrat-ExtraLight" ;
    text-transform: uppercase;
    color: #e9e9e9;
    }

.TopNewses{
     padding: 0!important;
 
}
.TopNewses > .row{
margin-left: 0!important;
margin-right: 0!important;
border-bottom: 3px solid #999;
}
.slideshowvTopnewses{
    position: relative;
    width: 100%;
    height: auto;
  
    padding: 0!important;
    margin-top: 85px !important;
    margin: 0;
}
.headlines h1{
max-width: 400px;
height: auto;
color: #fc4733;
font-family:"Montserrat-Bold" ;
font-size: 30px;
margin-left: 70px;
margin-top: 20px;
text-transform: capitalize;
}
.slideshowTopnewsesTopArea{
position: relative;
width: 100%;
}
.slideshowTopnewsesTopArea::after{
    position: absolute;
    height: 3px;
    width: 100%;
    max-width: 940px;
    border-bottom: 3px solid #999999;
    height: 20px;
    bottom: 0;
    content: "";
    right: 0;
    top: 30%;
}
.slideshowTopnewsesTopArea::before{
    position: absolute;
    height: 3px;
    width: 70px;
border-top: 3px solid #999999;
height: 20px;
bottom: 0;
content: "";
left: 0;
top:36px;
}

.OwlSlideshow{
  position: relative;
    height: 325px;
    width: 240px;
    border: 1px solid;
}
.owlCat{
    position: absolute;
    top: 51.3%;
    background-color: #000!important;
    color: #fff!important;
border-radius: 0!important;
}
.OwlSlideshowSub{
    top: 35px;
    position: relative;
}
.OwlSlideshowSub > p a{
    font-family:"Montserrat-Bold" ;
    font-size: 18px; 
    color: #000;
}
.OwlSlideshowSubMeta{
   
    margin-left: 0!important;
    margin-top: -1%;
    display: block;
 
}
.OwlSlideshowSubMeta li:last-child::after{
    content: none;
}
.OwlSlideshowSubMeta li a{
    font-family: "Montserrat-Regular";
    font-size: 12px;
}

    .owl-nav {
        position: absolute;
        bottom: 120%;
        right: 0;
        z-index: 4;
    }


.owl-nav button span {
    font-size: 35px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #999999;
}

    .owl-carousel {
        margin-top: 65px;
        margin-left: 80px;
        margin-bottom: 65px;
    }
.FeaturedArea .headlines h1{
    margin-left: 0!important;
}
.FeaturedAreaContent{
    height: auto;

}
.FeaturedAreaContentColArea{
    padding: 0!important;
}
.FeaturedAreaContentLeft{
    height: 720px;
    background-color: red;
    padding: 0 !important;;
    position: relative;
}
.FeaturedAreaContentFashonC{
    position: absolute;
    width: 100%;
    height: 100%;
}
.FeaturedAreaContentFashonOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: 3;
}
.FeaturedAreaContentFashon >img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.FeaturedAreaContentFashonSub{
    position: absolute;
    z-index: 4;
    color: #fff;
    left: 35px;
    top: 395px;
}
.FeaturedAreaContentFashonCat{
    background-color: #00bff3!important;
    color: #fff!important;
    border-radius: 0!important;
    text-transform: uppercase;
    font-family:"Montserrat-Light" ;
    font-size: 12px;
}
.FeaturedAreaContentFashonSub >p{
    font-family: "Montserrat-Bold";
    font-size: 40px;
    text-transform: uppercase;
 
}
.FeaturedAreaContentFashonSubMeta{
    margin-left: 0;
}

.FeaturedAreaContentRight{
    height: 720px;
    background-color: #555555;
    position: relative;
    z-index: 10;
    margin-left: 30px;
}
.FeaturedAreaContentRightL{
    border: 1px solid red;
    position: relative;
    height: 310px;
padding: 0!important;
width: 100%;
}
.FeaturedAreaContentRightLSub{
    position: absolute;
    width: 100%;
    height: 100%;
}
.FeaturedAreaContentRightLSub > img{
    width: 100%;
    height: 220px;
    position: absolute;
    object-fit: cover;

}
.FeaturedAreaContentRightR{
    border: 1px solid green;
}