@import "fonts.css";
@import "nav.css";
@import "meta.css";
@import "newsArea.css";
@import "banner.css";
@import "topNeses.css";
@import "FeaturedNewsArea.css";

#main{
width: 100%;
height: auto;
 overflow: hidden;
}

