@import "fonts.css";
@import "nav.css";
@import "meta.css";
@import "newsArea.css";
@import "banner.css";
@import "topNeses.css";
@import "FeaturedNewsArea.css";
@import "trendingArea.css";
@import "footer.css";
@import 'category_page.css';
@import'Wiget.css';
#main{
width: 100%;
height: auto;
overflow: hidden;
background-color: rgb(249, 249, 249);
}

.middleArea {
    width: 1130px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}