#TopNewses{
    width: 100%;
    height: 200px;
    
    position: relative;

}
.header{
position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header >h2{
    text-align: center;
    width: 100%;
    max-width: 395px;
    display: inline-block;
}
.beforeLine {
    width: 100%;
    max-width: 420px;
    height: 2px;
    background: #ccc;
  margin-top: 15px;

}
.afterLine{
    width: 100%;
  margin-top: 15px;
    height: 2px;
    background: #ccc;
  
}
/***
==================================================
TOPNEWSES HEADERS END
==================================================
***/
.TopNewsesCarouselBtns {
    list-style: none;
    display: flex;
    position: absolute;
    width: 100%;
    left: 73%;
    float: right;


}
.TopNewsesCarouselBtns li{
    border: 1px solid;
    padding: 10px;
  margin-left: 10px;
  
}

.topTopNewsesCarouselArea {
    width: 1050px;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;

}
ul.TopNewsesCarousel {
    list-style: none;
    overflow-x:auto;
    display: flex;
    -webkit-overflow-scrolling: touch;
  
 position: relative;
}
ul.TopNewsesCarousel::-webkit-scrollbar {
    display: none;
}
.TopNewsesCarouselItems {
    margin-right: 30px;
    position: relative;
    height: 325px;
    width: 240px;
    background-color: blue;
}
.TopNewsesCarouselItemsArticle{
    position: absolute;

}
a.btn.category.sportCat.TopNewsesCarouselItemsCat {
    top: 185px;
    background-color: #000!important;
    position: absolute;
    z-index: 1;
    left: 0;

}
.TopNewsesCarouselItemsArticle{
    font-family:"Montserrat-Bold" ;
    top: 240px;
    font-size: 18px;
    left: 0;

}
img.TopNewsesCarouselItemsImg {
    width: 240px;
    object-fit: contain;
}
ul.meta.TopNewsesCarouselItemsMeta {

    top: 307px;
}
