.WigetArea{
    height: 670px;
    max-width: 100%;
    width: 430px;
    border-bottom: 1px solid;
}
.WigetAreaContent{
    width: 310px;
    height: 550px;
    margin-top: 60px;
    margin-left: 45px;
}

.WgetContent{
    position: relative;
    width: 305px; 
    height: 485px;
  
    margin-top: 40px;
}

.WgetContentPosts{
    height: 380px;
    width: 305px;
   
    position: absolute;
}
.WgetContentPosts >img{
    width: 100%;
    height: 230px;
    position: absolute;
    z-index: 0;
}
.WgetCat{
    position: absolute;
    z-index: 1;
    background-color: #fc4733!important;
    top: 192px;
}
.WgetContentPosts article{
    position: absolute;
    top: 260px;
}
.WgetContentPosts article p a {
font-size: 22px!important;
color: #000!important;
}
.WgetMeta{
    top: 100px!important;
}
.WgetButtons {
    position: absolute;
    background: #000;
    top: 419px;
display: flex;
justify-content: space-around;
margin: auto;
width: 305px;

}
.WgetButtons .btn{
padding-top: 15px;
padding-bottom: 15px;
text-align: center;
font-size: 12px;
font-family:"Montserrat-Bold" ;
text-transform: uppercase;
color: #fff;
border-radius: 0%!important;
outline: none!important;
box-shadow: none!important;
}
.WgetButtons button:hover{
    background-color: #555555!important;
    color: #fff;
}
.WgetButtons button:active{
    outline: none!important;
}

/***
============================================================================================================
 WIGETS AREA END
============================================================================================================
***/
