#TopTrendingVideosArea{
    height: 1025px;
 
    background-image: url('../images/videoBg.png');
    position:relative;
    width: 100%;
    /* max-width: 1200px; */
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}
.TopTrendingVideosAreaOverlay{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
}

.TopTrendingVideosAreaContent {
    width: 1050px;
    margin: auto;
    text-transform: capitalize;
    position: relative;
    height: auto;
}
h1.TopTrendingVideosHeader {
    
    font-family:"Montserrat-Bold" ;
    background-color: green;
    font-size: 30px;
    color: #fff;
}
.VideoArea{
    height: 430px;
    background-color: green;
    margin-top: 60px;
    width: 100%;
}
.videoLeft{
width: 230px;
height: 430px;
margin-right: 30px;
position: relative;
}
.videoContent{
    position: relative;
    width: 100%;
    height: 100%;
}video{
    background-image: url("../images/1.png");
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
}
