#TopTrendingVideosArea{
    height: 1300px;
 
    background-image: url('../images/videoBg.png');
    position:relative;
    width: 100%;
    /* max-width: 1200px; */
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}
.TopTrendingVideosAreaOverlay{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
}

.videoArea{
    width: 1135px;
    height: 100%;
    position: relative;
    margin: auto;
    background-color: hotpink;
    z-index: 2;
}
.videoAreaHeader{
    font-size: 30px;
    text-transform: uppercase;
    font-family:"Montserrat-Bold" ;
    color: #f1f1f1;
}
.videoAreaContent{
    height: auto;
    width: 100%;
    background-color: red;
    margin-top: 60px!important;
    display: flex;
   margin: 0;
   padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;

 
}
.Video{
    width: 230px;
    height: 200px;
    background-color: indigo;
    
}
.bigVideo{
    width: 530px;
    height: 430px;
}