@import "trendingBanner.css";
@import "TopStoryesWiget.css";
@import "OtherStori.css";

.TrendingNewsesAreaWigets{
    border-left: 2px solid #ccc;
    width: 460px;
    height: 2260px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
background-color:#f9f9f9;
}
/***
===============================================================================================
WIGETS SYLES END
===============================================================================================
***/