@import "TrendingNewsCarousel.css";
@import "TrendingNewsesAreaWigets.css";
@import"TrendingNewsesBottomArea.css";
@import "TopTrendingVideosArea.css";
@import "subscribeArea.css";
#TrendingArea{
    max-width: 100%;
    width: 650px;
    height: auto;
    /* margin: auto; */
    display: flex;
    flex-wrap:nowrap;


}
/***
==================================================
TRENDING AREA END
==================================================
***/